.body,
html {
  background: #FFF;
  height: 100vmin;
}
.welcomeScreenContainer {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -92.5px 0 0 -92.5px;
  width: 400px;
  animation-name: hide-welcometext;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.welcomeScreenContent h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  font-family: monospace;
  animation: typing 2s steps(13, end);
}
.textCursor {
  display: block;
  position: absolute;
  border-bottom: 0.15em solid #000;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  left: 0px;
  height: 2em;
  width: 10px;
  animation: moving-blink-caret 2s steps(13, end), blink-caret 0.5s steps(13, end) infinite;
  animation-fill-mode: forwards;
}
.svgAnimation {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: animate-svg 5s linear infinite, svg-fadeout 5s linear infinite;
}
@keyframes animate-svg {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes svg-fadeout {
  0%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes moving-blink-caret {
  0% {
    left: 0;
  }
  100% {
    left: 185px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes hide-welcometext {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
